@using Entities.Concrete;
@using Entities.Enums;
@model IDataResult<List<OrderDto>>
@{
    TempData["Title"] = "Tamamlanan Sipariş";
}
<div class="card m-5">
    <a href="/Member/Siparis">
        <button class="btn btn-datatable btn-icon btn-transparent-dark mr-2">
            <i class="fa-solid fa-arrow-left" title="Geri Dön" style="font-size:30px;"></i>
        </button>
    </a>
    <div class="card-body">
        <div class="datatable">
            <table class="table table-bordered table-hover" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th><p>Siparis Id</p></th>
                        <th>Müşteri Adı</th>
                        <th>Siparis Tarihi</th>
                        <th>Toplam Fiyat</th>
                        <th>Kdv Tutarı</th>
                        <th>İndirim</th>
                        <th>Fatura Tutarı</th>
                        <th>Durumu</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @if (Model.Data.Count > 0)
                    {
                        @foreach (var item in Model.Data)
                        {
                            <tr>
                                <td>@item.Id</td>
                                <td>@item.MusteriAdi</td>
                                <td>@item.Tarih</td>
                                <td>@item.ToplamFiyat</td>
                                <td>@item.KDVTutar ₺</td>
                                <td>@item.Indirim</td>
                                <td>@item.FaturaTutari ₺</td>
                                <td>
                                    @if (item.DurumId == (int)SiparisDurumEnum.Hazırlanıyor)
                                    {
                                        <text><div class="badge badge-warning badge-pill">Hazırlanıyor</div></text>
                                    }
                                    else if (item.DurumId == (int)SiparisDurumEnum.Tamamlandi)
                                    {
                                        <text><div class="badge badge-primary badge-pill">Sipariş Onaylandı</div></text>
                                    }
                                    else
                                    {
                                        <text><div class="badge badge-danger badge-pill">Sipariş İptal Edildi</div></text>
                                    }
                                </td>
                                <td>
                                    <a href="/Member/Siparis/Detay/@item.Id">
                                        <button class="btn btn-outline-primary">Detay</button>
                                    </a>
                                </td>

                            </tr>
                        }
                    }
                    else
                    {
                        <div class="alert alert-info">İlgili siparişiniz bulunmamaktadır.</div>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>