@using Business.Utilities.Helpers;
@using DataAccess.Helpers;
@model ProducutListPageModel

@{
    TempData["Title"] = "Ürün Detayı";
}



<div class="about_content padding-top padding-bottom" style="margin-top: 150px!important;">
    <div class="container">
        <div class="row">
            <div class="col-12">

                @if (Model.UrunDto.Succes)
                {
                    <div class="product-body mt-5">
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb text-center text-lg-left">
                                <li class="breadcrumb-item">Anasayfa</li>
                                <li class="breadcrumb-item">Urunler</li>
                                <li class="breadcrumb-item" aria-current="page">@Model.UrunDto.Data.KategoriAdi</li>
                                <li class="breadcrumb-item">@Model.UrunDto.Data.Ad</li>
                            </ol>
                        </nav>
                        <div class="pro-detail-sec row">
                            <div class="col-12">
                                <h4 class="pro-heading text-center text-lg-left">@Model.UrunDto.Data.Ad</h4>
                                <p class="pro-text text-center text-lg-left">@Model.UrunDto.Data.Kod</p>
                            </div>
                        </div>
                        <div class="row product-list product-detail">

                            <div class="col-12 col-lg-6 product-detail-slider">
                                <div class="wrapper">
                                    <div class="Gallery swiper-container img-magnifier-container" id="gallery">
                                        <div class="swiper-wrapper myimgs">
                                            @{
                                                var images = GetImageHelper.GetProductImagesById(Model.UrunDto.Data.Id);
                                                if (images.Count>0)
                                                {
                                                    <div class="swiper-slide"> <a href="@images[0].ResimYol" data-fancybox="1" title="Zoom In"><img class="myimage" src="@images[0].ResimYol" alt="gallery" /></a></div>
                                                    for (int i = 1; i < images.Count(); i++)
                                                    {
                                                        <div class="swiper-slide"> <a href="@images[i].ResimYol" data-fancybox="@{int a=i+1;<text>@a</text>}1" title="Zoom In"><img class="myimage" src="@images[i].ResimYol" alt="thumnails" /></a></div>
                                                    }

                                                }
                                                else
                                                {
                                                    <div class="swiper-slide"> <a href="img/item1.jpg" data-fancybox="1" title="Zoom In"><img class="myimage" src="~/E-Ticaret/files/img/item1.jpg" alt="gallery" /></a></div>
                                                    <div class="swiper-slide"> <a href="img/item1.jpg" data-fancybox="2" title="Zoom In"><img class="myimage" src="~/E-Ticaret/files/img/item2.jpg" alt="thumnails" /></a></div>
                                                    <div class="swiper-slide"> <a href="img/item1.jpg" data-fancybox="3" title="Zoom In"><img class="myimage" src="~/E-Ticaret/files/img/item3.jpg" alt="thumnails" /></a></div>
                                                }
                                            }
                                            
                                        </div>
                                    </div>
                                    <div class="Thumbs swiper-container" id="thumbs">
                                        <div class="swiper-wrapper">
                                            @if (images.Count > 0)
                                            {
                                                @foreach (var item in images)
                                                {
                                                    <div class="swiper-slide"> <img src="@item.ResimYol" alt="thumnails" /></div>
                                                }
                                            }

                                            else{
                                            <div class="swiper-slide"> <img src="~/E-Ticaret/files/img/item1.jpg" alt="thumnails" /></div>
                                            <div class="swiper-slide"> <img src="~/E-Ticaret/files/img/item2.jpg" alt="thumnails" /></div>
                                            <div class="swiper-slide"> <img src="~/E-Ticaret/files/img/item3.jpg" alt="thumnails" /></div>
                                            }
                                            


                                           
                     
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-12 col-lg-6 text-center text-lg-left">
                                <div class="product-single-price">
                                    <h4><span class="real-price">
                                            @if (User.Identity.IsAuthenticated)
                                            {
                                                @CalculateHalpers.KdvAmount(Model.UrunDto.Data.Id,1)
                                            }
                                            else
                                            {
                                                <text>**</text>
                                            } ₺
                                        </span> 
                                    <p class="pro-description">@Model.UrunDto.Data.Ad</p>
                                </div>

                                <div class="product-checklist">
                                    <ul>

                                        <li><i class="fas fa-check"></i>Marka : @Model.UrunDto.Data.MaraAdi</li>
                                        <li><i class="fas fa-check"></i>Ürün Kodu: @Model.UrunDto.Data.Kod</li>
                                        <li><i class="fas fa-check"></i>Kutu Adet: @Model.UrunDto.Data.KutuAdet</li>
                                        <li><i class="fas fa-check"></i>İskonto: %@CalculateHalpers.CalculateIskonto(Model.UrunDto.Data.Id)</li>
                                        <li>
                                            <i class="fas fa-check"></i>Stok Durumu: @if (Model.UrunDto.Data.StokDurum == true)
                                            {
                                                <text>Var</text>
                                            }
                                            else
                                            {
                                                <text>Yok</text>
                                            }

                                        </li>

                                        <li><i class="fas fa-check"></i>KDV: %@CalculateHalpers.CalculateKdv(Model.UrunDto.Data.Id)</li>

                                    </ul>
                                </div>

                                <div class="row product-quantity input_plus_mins no-gutters">

                                    <div class="qty col-12 col-lg-3 d-lg-flex  align-items-lg-center d-inline-block">
                                        <span class="minus"><i class="las la-minus"></i></span>
                                        <input type="number" class="count" name="qty" value="1" id="productQuantity">

                                        <span class="plus"><i class="las la-plus"></i></span>
                                    </div>
                                    <div class="col-12 col-lg-9">
                                        @*<a href="/Member/Urun/Ekle/@Model.UrunDto.Data.Id"> </a>*@
                                        <button class="btn web-btn rounded-pill" id="addProductButton">Sepete Ekle</button>
                                    </div>
                                </div>


                                <div class="dropdown-divider"></div>

                                <div class="product-tags-list">
                                    <nav aria-label="breadcrumb">
                                        <ol class="breadcrumb">
                                            <li class="breadcrumb-item"><p class="d-inline">SKU: <span>00012</span></p></li>
                                            <li class="breadcrumb-item"><span class="d-inline">Kategori: <a href="/Urun/Kategori/@Model.UrunDto.Data.KategoriId">@Model.UrunDto.Data.KategoriAdi</a><span class="comma-separtor"></li>
                                        </ol>
                                        <input type="number" id="productId" value="@Model.UrunDto.Data.Id" style="display:none" />
                                    </nav>
                                </div>
                            </div>
                        </div>

                    </div>
                }
                else
                {
                    <h1 style="visibility:hidden">asd</h1>
                    <div class="product-body mt-5">
                        <div class="pro-detail-sec row">
                            <div class="col-12">
                                <div class="alert alert-danger">İlgili ürün ne yazık ki bulunamadı.</div>
                            </div>
                        </div>
                    </div>

                }

            </div>

        </div>

    </div>
</div>
<!--START LATEST ARRIVALS-->
<section class="best-products mt-5">
    <div class="container">
        <div class="row">
            <div class="col-12 text-center">
                <div class="heading-details">
                    <h4 class="heading">Benzer Ürünler</h4>
                </div>
            </div>
        </div>
        <div class="best-products-carousel owl-carousel owl-themesss">
            @if (@Model.UrunlerDto.Succes)
            {
                if (@Model.UrunlerDto.Data.Count < 7)
                {
                    foreach (var item in @Model.UrunlerDto.Data)
                    {
                        <div class="item text-center">

                            <div class="product">
                                <div class="product-img">
                                    @if (GetImageHelper.GetProductImagesById(item.Id).Count() > 0)
                                    {
                                        <img src="@GetImageHelper.GetProductImagesById(item.Id)[0].ResimYol" style="width:250px;height: 250px;">
                                    }
                                    else
                                    {
                                        <img src="~/E-Ticaret/files/img/item1.jpg" style="width:250px;height: 250px;">
                                    }
                                    <div class="overlay-img">
                                        <div class="overlay-content">
                                            <a href="/Member/Urun/Ekle/@item.Id"><i class="las la-shopping-bag"></i></a>
                                            <a href="/Urun/Detay/@item.Id"><i class="las la-search"></i></a>
                                        </div>
                                    </div>
                                </div>
                                <a href="/Urun/Detay/@item.Id">
                                    <div class="product-detail">
                                        <span class="product-cat">@item.KategoriAdi</span>
                                        <h4 class="product-name">@item.Ad</h4>
                                        <span class="fly-line"></span>
                                        <ul class="reviews">
                                            <li><i class="las la-star"></i></li>
                                            <li><i class="las la-star"></i></li>
                                            <li><i class="las la-star"></i></li>
                                            <li><i class="las la-star"></i></li>
                                            <li><i class="las la-star"></i></li>
                                        </ul>
                                    </div>
                                </a>
                            </div>
                        </div>
                    }
                }
                else
                {
                    for (int i = 0; i < 7; i++)
                    {
                        <div class="item text-center">
                            <div class="product">
                                <div class="product-img">
                                    @if (GetImageHelper.GetProductImagesById(Model.UrunlerDto.Data[i].Id).Count() > 0)
                                    {
                                        <img src="@GetImageHelper.GetProductImagesById(Model.UrunlerDto.Data[i].Id)[0].ResimYol" style="width:250px;height: 250px;">
                                    }
                                    else
                                    {
                                        <img src="~/E-Ticaret/files/img/item1.jpg" style="width:250px;height: 250px;">
                                    }
                                    <div class="overlay-img">
                                        <div class="overlay-content">
                                            <a href="/Member/Urun/Ekle/@Model.UrunlerDto.Data[i].Id"><i class="las la-shopping-bag"></i></a>
                                            <a href="/Urun/Detay/@Model.UrunlerDto.Data[i].Id"><i class="las la-search"></i></a>
                                        </div>
                                    </div>
                                </div>
                                <a href="/Urun/Detay/@Model.UrunlerDto.Data[i].Id" style="width:500px;height:500px;">
                                    <div class="product-detail">
                                        <span class="product-cat">@Model.UrunlerDto.Data[i].KategoriAdi</span>
                                        <h4 class="product-name">@Model.UrunlerDto.Data[i].Ad</h4>
                                        <span class="fly-line"></span>
                                        <ul class="reviews">
                                            <li><i class="las la-star"></i></li>
                                            <li><i class="las la-star"></i></li>
                                            <li><i class="las la-star"></i></li>
                                            <li><i class="las la-star"></i></li>
                                            <li><i class="las la-star"></i></li>
                                        </ul>
                                    </div>
                                </a>
                            </div>
                        </div>
                    }
                }
            }
            else
            {
                <div class="alert alert-danger">Bir hata oluştu.</div>
            }


        </div>
    </div>
</section>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    $(document).ready(function () {
        $('#addProductButton').click(function () {
            var productId = $('#productId').val();
            var productQuantity = $('#productQuantity').val();

            if (productId && productQuantity) {
                // Ürünü sepete eklemek için AJAX isteği gönderiyoruz
                $.ajax({
                    url: '/Member/Urun/UrunAdetEkle', // Action metodunun yolunu buraya ekleyin
                    type: 'POST',
                    data: { id: productId, quantity: productQuantity }, // Ürün ID'sini de gönderiyoruz
                    success: function (data) {
                        if (data.success) {
                            Swal.fire({
                                title: 'Başarılı!',
                                text: data.message,
                                icon: 'success',
                                confirmButtonText: 'Tamam'

                            }).then((result) => {
                                if (result.isConfirmed) {
                                    window.location.href = "/Urun/Detay/" + productId;
                                }
                            });
                           
                        } else {
                            Swal.fire({
                                title: 'HATA!',
                                text: data.message,
                                icon: 'error',
                                confirmButtonText: 'Tamam'
                            });
                        }
                    },
                    error: function () {
                        Swal.fire({
                            title: 'HATA!',
                            text: "Sipariş oluşturabilmek için lütfen sisteme giriş yapınız.",
                            icon: 'error',
                            confirmButtonText: 'Tamam'
                        }).then((result) => {
                            if (result.isConfirmed) {
                                window.location.href = "/Hesap/Giris";
                            }
                        });
                        
                    }
                });
            } else {
                alert('Adet alanını doldurun.');
            }
        });
        $(".minus").click(function () {
            var input = $('#productQuantity').val();
            var value = parseInt(input.val()); // Mevcut değeri al
            if (value > 1) {
                input.val(value - 1);
            }
        });

        // Arttırma (plus) işlemi
        $(".plus").click(function () {
            var input = $('#productQuantity').val();
            var value = parseInt(input.val()); // Mevcut değeri al
            input.val(value + 1); // Değeri 1 arttır
            
        });
    });
</script>



